@{
    ViewData["Title"] = "Home Page";
}


<!-- Grid row -->

<!-- Grid row -->
<div class="gallery" id="gallery">

    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
        <img class="img-fluid" src="http://localhost:8001/images/test.jpg?w=400" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
         <img class="img-fluid" src="http://localhost:8001/images/test.jpg?w=400&h=300&mode=pad" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
         <img class="img-fluid" src="http://localhost:8001/images/test.jpg?crop=500,100,900,720" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
         <img class="img-fluid" src="http://localhost:8001/images/test.jpg?w=400&h=300&mode=pad" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 2">
         <img class="img-fluid" src="http://localhost:8001/images/test.jpg?crop=500,100,750,400&w=400" alt="Card image cap">
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="mb-3 pics animation all 1">
         <img class="img-fluid" src="http://localhost:8001/images/test.jpg?w=400&h=300&mode=pad" alt="Card image cap">
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->